.task-repo.tag-cloud a {
  margin: 0.5rem;

  &.size1 {
    font-size: 60%;
  }
  &.size2 {
    font-size: 70%;
  }
  &.size3 {
    font-size: 80%;
  }
  &.size4 {
    font-size: 90%;
  }
  &.size5 {
    font-size: 100%;
  }
  &.size6 {
    font-size: 110%;
  }
  &.size7 {
    font-size: 120%;
  }
  &.size8 {
    font-size: 130%;
  }
  &.size9 {
    font-size: 140%;
  }
  &.size10 {
    font-size: 150%;
  }
}

body {
  counter-reset: probfig;
}

.task-repo.task {
  figure {
    float: right;
    figcaption {
      &[data-lang="cs"]::before {
        content: "Obr. " counter(probfig) " ";
      }
      &[data-lang="en"]::before {
        content: "Fig. " counter(probfig) " ";
      }
      &::before {
        counter-increment: probfig;
      }
      text-align: center;
    }
    img {
      width: 100%;
    }
  }

  .origin {
    float: right;
    font-style: italic;
  }
}

.task-repo-edit {
  label {
    display: inline;
  }
}
